[*.cs]

# SA1505: Opening braces should not be followed by blank line
dotnet_diagnostic.SA1505.severity=error

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity=silent

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity=silent
dotnet_diagnostic.CA1070.severity=warning
dotnet_diagnostic.ASP0000.severity=error
dotnet_diagnostic.CA1032.severity=error
dotnet_diagnostic.BL0001.severity=suggestion
dotnet_diagnostic.BL0004.severity=suggestion
dotnet_diagnostic.CA1507.severity=warning
dotnet_diagnostic.MVC1004.severity=error
dotnet_diagnostic.CA1820.severity=error
dotnet_diagnostic.CA1802.severity=error
dotnet_diagnostic.CA1812.severity=error
dotnet_diagnostic.CA1824.severity=warning
dotnet_diagnostic.CA1825.severity=warning
dotnet_diagnostic.CA1841.severity=warning
dotnet_diagnostic.CA1845.severity=warning
dotnet_diagnostic.CA2014.severity=error
dotnet_diagnostic.CA2016.severity=warning
dotnet_diagnostic.CA2352.severity=error
dotnet_diagnostic.CA2353.severity=error
dotnet_diagnostic.CA2354.severity=error
dotnet_diagnostic.CA2355.severity=error
dotnet_diagnostic.CA2356.severity=error
dotnet_diagnostic.CA2362.severity=error
dotnet_diagnostic.SA1600.severity=silent
dotnet_diagnostic.SA1601.severity=silent
dotnet_diagnostic.SA1602.severity=silent
dotnet_diagnostic.SA1604.severity=silent
dotnet_diagnostic.SA1605.severity=error
dotnet_diagnostic.SA1606.severity=error
dotnet_diagnostic.SA1607.severity=error
dotnet_diagnostic.SA1608.severity=error
dotnet_diagnostic.SA1609.severity=error
dotnet_diagnostic.SA1610.severity=error
dotnet_diagnostic.SA1611.severity=error
dotnet_diagnostic.SA1612.severity=error
dotnet_diagnostic.SA1613.severity=error
dotnet_diagnostic.SA1614.severity=error
dotnet_diagnostic.SA1615.severity=error
dotnet_diagnostic.SA1616.severity=error
dotnet_diagnostic.SA1617.severity=error
dotnet_diagnostic.SA1618.severity=error
dotnet_diagnostic.SA1619.severity=error
dotnet_diagnostic.SA1620.severity=error
dotnet_diagnostic.SA1621.severity=error
dotnet_diagnostic.SA1622.severity=error
dotnet_diagnostic.SA1623.severity=error
dotnet_diagnostic.SA1624.severity=error
dotnet_diagnostic.SA1625.severity=error
dotnet_diagnostic.SA1626.severity=error
dotnet_diagnostic.SA1627.severity=error
dotnet_diagnostic.SA1629.severity=error
dotnet_diagnostic.SA1634.severity=error
dotnet_diagnostic.SA1635.severity=error
dotnet_diagnostic.SA1636.severity=error
dotnet_diagnostic.SA1637.severity=error
dotnet_diagnostic.SA1638.severity=error
dotnet_diagnostic.SA1639.severity=error
dotnet_diagnostic.SA1640.severity=error
dotnet_diagnostic.SA1641.severity=error
dotnet_diagnostic.SA1642.severity=error
dotnet_diagnostic.SA1643.severity=error
dotnet_diagnostic.SA1648.severity=error
dotnet_diagnostic.SA1649.severity=silent
dotnet_diagnostic.SA1651.severity=error
dotnet_diagnostic.SA1500.severity=error
dotnet_diagnostic.SA1501.severity=silent
dotnet_diagnostic.SA1502.severity=silent
dotnet_diagnostic.SA1503.severity=error
dotnet_diagnostic.SA1504.severity=error
dotnet_diagnostic.SA1506.severity=error
dotnet_diagnostic.SA1507.severity=error
dotnet_diagnostic.SA1508.severity=error
dotnet_diagnostic.SA1509.severity=error
dotnet_diagnostic.SA1510.severity=error
dotnet_diagnostic.SA1511.severity=error
dotnet_diagnostic.SA1512.severity=silent
dotnet_diagnostic.SA1513.severity=error
dotnet_diagnostic.SA1514.severity=error
dotnet_diagnostic.SA1515.severity=silent
dotnet_diagnostic.SA1517.severity=error
dotnet_diagnostic.SA1518.severity=error
dotnet_diagnostic.SA1519.severity=error
dotnet_diagnostic.SA1520.severity=error
dotnet_diagnostic.SA1119.severity=error
dotnet_diagnostic.SA1400.severity=silent
dotnet_diagnostic.SA1401.severity=silent
dotnet_diagnostic.SA1402.severity=silent
dotnet_diagnostic.SA1403.severity=error
dotnet_diagnostic.SA1404.severity=silent
dotnet_diagnostic.SA1405.severity=error
dotnet_diagnostic.SA1406.severity=error
dotnet_diagnostic.SA1407.severity=error
dotnet_diagnostic.SA1408.severity=error
dotnet_diagnostic.SA1410.severity=error
dotnet_diagnostic.SA1411.severity=error
dotnet_diagnostic.SA1412.severity=error
dotnet_diagnostic.SA1309.severity=silent
dotnet_diagnostic.SA1300.severity=error
dotnet_diagnostic.SA1302.severity=error
dotnet_diagnostic.SA1303.severity=error
dotnet_diagnostic.SA1304.severity=error
dotnet_diagnostic.SA1305.severity=error
dotnet_diagnostic.SA1306.severity=error
dotnet_diagnostic.SA1307.severity=error
dotnet_diagnostic.SA1308.severity=error
dotnet_diagnostic.SA1310.severity=error
dotnet_diagnostic.SA1311.severity=error
dotnet_diagnostic.SA1312.severity=error
dotnet_diagnostic.SA1313.severity=error
dotnet_diagnostic.SA1314.severity=error
dotnet_diagnostic.SX1309.severity=error
dotnet_diagnostic.SX1309S.severity=error
dotnet_diagnostic.SA1200.severity=error
dotnet_diagnostic.SA1201.severity=error
dotnet_diagnostic.SA1202.severity=error
dotnet_diagnostic.SA1203.severity=error
dotnet_diagnostic.SA1204.severity=error
dotnet_diagnostic.SA1205.severity=error
dotnet_diagnostic.SA1206.severity=error
dotnet_diagnostic.SA1207.severity=error
dotnet_diagnostic.SA1208.severity=error
dotnet_diagnostic.SA1209.severity=error
dotnet_diagnostic.SA1210.severity=error
dotnet_diagnostic.SA1211.severity=error
dotnet_diagnostic.SA1212.severity=error
dotnet_diagnostic.SA1213.severity=error
dotnet_diagnostic.SA1214.severity=error
dotnet_diagnostic.SA1216.severity=error
dotnet_diagnostic.SA1217.severity=error
dotnet_diagnostic.SA1100.severity=error
dotnet_diagnostic.SA1101.severity=silent
dotnet_diagnostic.SA1102.severity=error
dotnet_diagnostic.SA1103.severity=error
dotnet_diagnostic.SA1104.severity=error
dotnet_diagnostic.SA1105.severity=error
dotnet_diagnostic.SA1106.severity=error
dotnet_diagnostic.SA1107.severity=error
dotnet_diagnostic.SA1108.severity=silent
dotnet_diagnostic.SA1110.severity=error
dotnet_diagnostic.SA1111.severity=error
dotnet_diagnostic.SA1112.severity=error
dotnet_diagnostic.SA1113.severity=error
dotnet_diagnostic.SA1114.severity=error
dotnet_diagnostic.SA1115.severity=error
dotnet_diagnostic.SA1116.severity=silent
dotnet_diagnostic.SA1117.severity=silent
dotnet_diagnostic.SA1118.severity=silent
dotnet_diagnostic.SA1120.severity=error
dotnet_diagnostic.SA1121.severity=error
dotnet_diagnostic.SA1122.severity=silent
dotnet_diagnostic.SA1123.severity=error
dotnet_diagnostic.SA1124.severity=error
dotnet_diagnostic.SA1125.severity=error
dotnet_diagnostic.SA1127.severity=error
dotnet_diagnostic.SA1128.severity=error
dotnet_diagnostic.SA1129.severity=error
dotnet_diagnostic.SA1130.severity=error
dotnet_diagnostic.SA1131.severity=error
dotnet_diagnostic.SA1132.severity=error
dotnet_diagnostic.SA1133.severity=error
dotnet_diagnostic.SA1134.severity=error
dotnet_diagnostic.SA1135.severity=error
dotnet_diagnostic.SA1136.severity=error
dotnet_diagnostic.SA1137.severity=error
dotnet_diagnostic.SA1139.severity=error
dotnet_diagnostic.SA1413.severity=error
dotnet_diagnostic.SX1101.severity=error
dotnet_diagnostic.SA1000.severity=error
dotnet_diagnostic.SA1001.severity=error
dotnet_diagnostic.SA1002.severity=error
dotnet_diagnostic.SA1003.severity=error
dotnet_diagnostic.SA1004.severity=error
dotnet_diagnostic.SA1005.severity=error
dotnet_diagnostic.SA1006.severity=error
dotnet_diagnostic.SA1007.severity=error
dotnet_diagnostic.SA1008.severity=error
dotnet_diagnostic.SA1009.severity=error
dotnet_diagnostic.SA1010.severity=error
dotnet_diagnostic.SA1011.severity=error
dotnet_diagnostic.SA1012.severity=error
dotnet_diagnostic.SA1013.severity=error
dotnet_diagnostic.SA1014.severity=error
dotnet_diagnostic.SA1015.severity=error
dotnet_diagnostic.SA1016.severity=error
dotnet_diagnostic.SA1017.severity=error
dotnet_diagnostic.SA1018.severity=error
dotnet_diagnostic.SA1019.severity=error
dotnet_diagnostic.SA1020.severity=error
dotnet_diagnostic.SA1021.severity=error
dotnet_diagnostic.SA1022.severity=error
dotnet_diagnostic.SA1023.severity=error
dotnet_diagnostic.SA1024.severity=error
dotnet_diagnostic.SA1025.severity=error
dotnet_diagnostic.SA1026.severity=error
dotnet_diagnostic.SA1027.severity=error
dotnet_diagnostic.SA1028.severity=error
dotnet_diagnostic.SA0001.severity=silent
dotnet_diagnostic.SA0002.severity=error
dotnet_diagnostic.CA2255.severity=error
dotnet_diagnostic.CA2244.severity=warning
dotnet_diagnostic.CA2246.severity=warning
dotnet_diagnostic.ASP0001.severity=error
dotnet_diagnostic.MVC1005.severity=error
dotnet_diagnostic.CA2234.severity=error
dotnet_diagnostic.CA2252.severity=warning
dotnet_diagnostic.ASP0003.severity=error
dotnet_diagnostic.ASP0004.severity=error
dotnet_diagnostic.ASP0005.severity=error
dotnet_diagnostic.ASP0006.severity=error
dotnet_diagnostic.BL0002.severity=error
dotnet_diagnostic.BL0003.severity=error
dotnet_diagnostic.BL0005.severity=error
dotnet_diagnostic.BL0006.severity=error
dotnet_diagnostic.MVC1000.severity=error
dotnet_diagnostic.MVC1002.severity=error
dotnet_diagnostic.MVC1001.severity=error
dotnet_diagnostic.MVC1003.severity=error
dotnet_diagnostic.EF1001.severity=error
# dotnet_diagnostic.CS8019.severity=error

[*.{cs,vb}]
tab_width=2
indent_size=2
charset=utf-8-bom
dotnet_diagnostic.CA1002.severity=error
dotnet_diagnostic.CA1003.severity=error
dotnet_diagnostic.CA1005.severity=error
dotnet_diagnostic.CA1008.severity=error
dotnet_diagnostic.CA1012.severity=error
dotnet_diagnostic.CA1014.severity=error
dotnet_diagnostic.CA1016.severity=warning
dotnet_diagnostic.CA1017.severity=error
dotnet_diagnostic.CA1018.severity=warning
dotnet_diagnostic.CA1019.severity=error
dotnet_diagnostic.CA1024.severity=error
dotnet_diagnostic.CA1027.severity=error
dotnet_diagnostic.CA1028.severity=error
dotnet_diagnostic.CA1030.severity=error
dotnet_diagnostic.CA1031.severity=error
dotnet_diagnostic.CA1033.severity=error
dotnet_diagnostic.CA1034.severity=error
dotnet_diagnostic.CA1040.severity=error
dotnet_diagnostic.CA1043.severity=error
dotnet_diagnostic.CA1044.severity=error
dotnet_diagnostic.CA1041.severity=warning
dotnet_diagnostic.CA1045.severity=error
dotnet_diagnostic.CA1046.severity=error
dotnet_diagnostic.CA1050.severity=warning
dotnet_diagnostic.CA1052.severity=error
dotnet_diagnostic.CA1054.severity=error
dotnet_diagnostic.CA1055.severity=error
dotnet_diagnostic.CA1056.severity=error
dotnet_diagnostic.CA1058.severity=error
dotnet_diagnostic.CA1060.severity=error
dotnet_diagnostic.CA1061.severity=warning
dotnet_diagnostic.CA1062.severity=error
dotnet_diagnostic.CA1063.severity=error
dotnet_diagnostic.CA1064.severity=error
dotnet_diagnostic.CA1065.severity=error
dotnet_diagnostic.CA1066.severity=error
dotnet_diagnostic.CA1067.severity=warning
dotnet_diagnostic.CA1068.severity=warning
dotnet_diagnostic.CA1069.severity=warning
dotnet_diagnostic.CA1303.severity=error
dotnet_diagnostic.CA1307.severity=error
dotnet_diagnostic.CA1308.severity=error
dotnet_diagnostic.CA2101.severity=warning
dotnet_diagnostic.CA1401.severity=warning
dotnet_diagnostic.CA1416.severity=error
dotnet_diagnostic.CA1417.severity=error
dotnet_diagnostic.CA1418.severity=error
dotnet_diagnostic.CA1419.severity=warning
dotnet_diagnostic.CA1501.severity=error
dotnet_diagnostic.CA1502.severity=error
dotnet_diagnostic.CA1505.severity=error
dotnet_diagnostic.CA1506.severity=error
dotnet_diagnostic.CA1508.severity=error
dotnet_diagnostic.CA1509.severity=error
dotnet_diagnostic.CA1700.severity=error
dotnet_diagnostic.CA1713.severity=error
dotnet_diagnostic.CA1721.severity=error
dotnet_diagnostic.CA1724.severity=error
dotnet_diagnostic.CA1806.severity=warning
dotnet_diagnostic.CA1810.severity=error
dotnet_diagnostic.CA1813.severity=error
dotnet_diagnostic.CA1814.severity=error
dotnet_diagnostic.CA1815.severity=error
dotnet_diagnostic.CA1819.severity=error
dotnet_diagnostic.CA1821.severity=warning
dotnet_diagnostic.CA1822.severity=warning
dotnet_diagnostic.CA1823.severity=error
dotnet_diagnostic.CA1826.severity=warning
dotnet_diagnostic.CA1827.severity=warning
dotnet_diagnostic.CA1828.severity=warning
dotnet_diagnostic.CA1829.severity=warning
dotnet_diagnostic.CA1830.severity=warning
dotnet_diagnostic.CA1831.severity=error
dotnet_diagnostic.CA1832.severity=warning
dotnet_diagnostic.CA1833.severity=warning
dotnet_diagnostic.CA1834.severity=warning
dotnet_diagnostic.CA1835.severity=warning
dotnet_diagnostic.CA1836.severity=warning
dotnet_diagnostic.CA1837.severity=warning
dotnet_diagnostic.CA1839.severity=warning
dotnet_diagnostic.CA1840.severity=warning
dotnet_diagnostic.CA1842.severity=warning
dotnet_diagnostic.CA1843.severity=warning
dotnet_diagnostic.CA1844.severity=warning
dotnet_diagnostic.CA1846.severity=warning
dotnet_diagnostic.CA1847.severity=warning
dotnet_diagnostic.CA1849.severity=error
dotnet_diagnostic.CA2000.severity=error
dotnet_diagnostic.CA2002.severity=error
dotnet_diagnostic.CA2007.severity=error
dotnet_diagnostic.CA2008.severity=error
dotnet_diagnostic.CA2009.severity=warning
dotnet_diagnostic.CA2011.severity=warning
dotnet_diagnostic.CA2012.severity=warning
dotnet_diagnostic.CA2013.severity=error
dotnet_diagnostic.CA2015.severity=error
dotnet_diagnostic.CA2017.severity=error
dotnet_diagnostic.CA2018.severity=error
dotnet_diagnostic.CA2100.severity=error
dotnet_diagnostic.CA2109.severity=error
dotnet_diagnostic.CA2119.severity=error
dotnet_diagnostic.CA2153.severity=error
dotnet_diagnostic.CA2300.severity=error
dotnet_diagnostic.CA2301.severity=error
dotnet_diagnostic.CA2302.severity=error
dotnet_diagnostic.CA2305.severity=error
dotnet_diagnostic.CA2310.severity=error
dotnet_diagnostic.CA2311.severity=error
dotnet_diagnostic.CA2312.severity=error
dotnet_diagnostic.CA2315.severity=error
dotnet_diagnostic.CA2321.severity=error
dotnet_diagnostic.CA2322.severity=error
dotnet_diagnostic.CA2326.severity=error
dotnet_diagnostic.CA2327.severity=error
dotnet_diagnostic.CA2328.severity=error
dotnet_diagnostic.CA2329.severity=error
dotnet_diagnostic.CA2330.severity=error
dotnet_diagnostic.CA2350.severity=error
dotnet_diagnostic.CA2351.severity=error
dotnet_diagnostic.CA2361.severity=error
dotnet_diagnostic.CA3001.severity=error
dotnet_diagnostic.CA3002.severity=error
dotnet_diagnostic.CA3003.severity=error
dotnet_diagnostic.CA3004.severity=error
dotnet_diagnostic.CA3005.severity=error
dotnet_diagnostic.CA3006.severity=error
dotnet_diagnostic.CA3007.severity=error
dotnet_diagnostic.CA3008.severity=error
dotnet_diagnostic.CA3009.severity=error
dotnet_diagnostic.CA3010.severity=error
dotnet_diagnostic.CA3011.severity=error
dotnet_diagnostic.CA3012.severity=error
dotnet_diagnostic.CA5358.severity=error
dotnet_diagnostic.CA5361.severity=error
dotnet_diagnostic.CA5362.severity=error
dotnet_diagnostic.CA5367.severity=error
dotnet_diagnostic.CA5375.severity=error
dotnet_diagnostic.CA5376.severity=error
dotnet_diagnostic.CA5377.severity=error
dotnet_diagnostic.CA5378.severity=error
dotnet_diagnostic.CA5380.severity=error
dotnet_diagnostic.CA5381.severity=error
dotnet_diagnostic.CA5382.severity=error
dotnet_diagnostic.CA5383.severity=error
dotnet_diagnostic.CA5386.severity=error
dotnet_diagnostic.CA5387.severity=error
dotnet_diagnostic.CA5388.severity=error
dotnet_diagnostic.CA5389.severity=error
dotnet_diagnostic.CA5390.severity=error
dotnet_diagnostic.CA5391.severity=error
dotnet_diagnostic.CA5392.severity=error
dotnet_diagnostic.CA5393.severity=error
dotnet_diagnostic.CA5394.severity=error
dotnet_diagnostic.CA5396.severity=error
dotnet_diagnostic.CA5395.severity=error
dotnet_diagnostic.CA5398.severity=error
dotnet_diagnostic.CA5399.severity=error
dotnet_diagnostic.CA5400.severity=error
dotnet_diagnostic.CA5401.severity=error
dotnet_diagnostic.CA5402.severity=error
dotnet_diagnostic.CA5403.severity=error
dotnet_diagnostic.CA5404.severity=error
dotnet_diagnostic.CA5405.severity=error
dotnet_diagnostic.CA2200.severity=error
dotnet_diagnostic.CA2207.severity=error
dotnet_diagnostic.CA2213.severity=error
dotnet_diagnostic.CA2214.severity=error
dotnet_diagnostic.CA2216.severity=error
dotnet_diagnostic.CA2217.severity=error
dotnet_diagnostic.CA1816.severity=warning
dotnet_diagnostic.CA2208.severity=warning
dotnet_diagnostic.CA2211.severity=warning
dotnet_diagnostic.CA2219.severity=warning
dotnet_diagnostic.CA2225.severity=error
dotnet_diagnostic.CA2226.severity=error
dotnet_diagnostic.CA2227.severity=error
dotnet_diagnostic.CA2235.severity=error
dotnet_diagnostic.CA2237.severity=error
dotnet_diagnostic.CA2243.severity=error
dotnet_diagnostic.CA2247.severity=error
dotnet_diagnostic.CA2231.severity=warning
dotnet_diagnostic.CA2241.severity=warning
dotnet_diagnostic.CA2242.severity=warning
dotnet_diagnostic.CA2245.severity=warning
dotnet_diagnostic.CA2248.severity=warning
dotnet_diagnostic.CA2249.severity=warning
dotnet_diagnostic.CA2250.severity=warning
dotnet_diagnostic.CA2253.severity=warning
dotnet_diagnostic.CA2256.severity=error
dotnet_diagnostic.CA2257.severity=error
dotnet_diagnostic.CA2258.severity=error
dotnet_diagnostic.CA2254.severity=warning
[*.vb]
dotnet_diagnostic.CA1047.severity=warning